.header-cont-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
      background-color: rgb(94, 56, 11);
      padding: 0.3rem 1rem 0.3rem 1rem;
.header-cont{
   height: 2.5rem;
 
   color: #ffb347;
   font-family: 'Times New Roman', Times, serif;
   font-size: 2rem;
//    padding: 10px;
   font-weight: 600;
   span{
    color: white;
   }
}
}