.header-cont{
   height: 2.5rem;
   background-color: rgb(94, 56, 11);
   color: #ffb347;
   font-family: 'Times New Roman', Times, serif;
   font-size: 2rem;
//    padding: 10px;
   font-weight: 600;
   span{
    color: white;
   }
}